<footer>
  <div class="container">
    <div class="row biography">
      <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
        <h2>Qui suis-je ?</h2>
        <p>{{ site.biography }}</p>
      </div>

      <div class="col-sm-6 col-md-5 col-lg-4">
        <h2>Contactez-moi !</h2>
          {% if site.email %}
          <div>
            <i class="fa fa-fw fa-envelope"></i>
            <a class="email" href="mailto:{{ site.email }}" rel="nofollow">
              {{ site.email }}
            </a>
          </div>
          {% endif %}
          {% if site.github_username %}
          <div>
            <i class="fa fa-fw fa-github"></i>
            <a href="https://github.com/{{ site.github_username }}" rel="nofollow exte">
              {{ site.github_username }}
            </a>
          </div>
          {% endif %}
          {% if site.twitter_username %}
          <div>
            <i class="fa fa-fw fa-twitter"></i>
            <a href="https://twitter.com/{{ site.twitter_username }}" rel="nofollow">
               @{{ site.twitter_username }}
            </a>
          </div>
          {% endif %}
          {% if site.linkedin_username %}
          <div>
            <i class="fa fa-fw fa-linkedin"></i>
            <a href="https://id.linkedin.com/in/{{ site.linkedin_username }}" rel="nofollow">
              {{ site.linkedin_username }}
            </a>
          </div>
          {% endif %}
          {% if site.facebook_username %}
          <div>
            <a href="https://www.facebook.com/{{ site.facebook_username }}" rel="nofollow">
              <span class="username">facebook//{{ site.facebook_username }}</span>
            </a>
          </div>
          {% endif %}
      </div>
    </div>
    {% if site.colophon %}
    <div class="row copyright">
      <center>{{ site.colophon }}</center>
    </div>
    {% endif %}
  </div>
</footer>

{% js main %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google-analytics }}', 'auto');
  ga('send', 'pageview');
</script>
